{% extends "base.html" %}

{% block stylesheet %}

	<link rel="stylesheet" href="/css.script/uploadstyle.css" />

{% endblock %}

{% block content %} 
	
	<div class="admin-panel-linkback">
		<a class="main-links" href="/admin-panel">Back to admin panel</a>
	</div>

	<div class="main-headers">Upload Hummingbird Species</div>

	<form action="/upload-hum" method="POST" enctype="multipart/form-data">

		<table class="main-table">
			<tr>
				<td>
					<label for="hum-prefix">Hum prefix (allenhum):</label>
				</td>
		
				<td>
					<input type="text" name="hum-prefix" id="hum-prefix" class="table-input"/>
				</td>
			</tr>
			<tr>
				<td>
					<label for="hum-id">Hum ID (1, 2, 3, etc.):</label>
				</td>
		
				<td>
					<input type="text" name="hum-id" id="hum-id" class="table-input"/>
				</td>
			</tr>
			<tr>
				<td>
					<label for="reg-pics">Number of reg pics (5):</label>
				</td>
		
				<td>
					<input type="text" name="reg-pics" id="reg-pics" class="table-input"/>
				</td>
			</tr>
			<tr>
				<td>
					<label for="flower-name">Flower name (allenhumagave.jpg):</label>
				</td>
		
				<td>
					<input type="text" name="flower-name" id="flower-name" class="table-input"/>
				</td>
			</tr>
			<tr>	
				<td colspan="2">
					<label for="hum-txt">Txt file:</label>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="text" name="hum-txt" id="hum-txt" class="table-input" />
				</td>
			</tr>
			<tr>
				<td class="center" colspan="2">
					<input type="submit" value="Submit" />
				</td>
			</tr>
		</table>
		
	</form>
	
	

{% endblock %}